* {
  padding: 0;
  margin: 0;
  font: 8px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  background-color: #1f363d;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cell {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 1px;
  height: calc(2vh - 2px);
  width: calc(2% - 2px);
  font-weight: bold;
  text-align: center;
  border: 0px solid #090909;
  border-radius: 0.5vh;
  background-color: #4f6272;
  color: #bac1b8;
}

.cell:hover {
  border: 3px solid #ff715b;
}

.cell:active {
  background-color: #f9cb40;
}

.cell:disabled{
  background-color: #36434f;
}

.cell:disabled:hover{
  background-color: #36434f;
  border: 1px solid black;
}

.active{
  animation: animation-active 2s;
  animation-timing-function: linear;
}

  @keyframes animation-active {
    from {
    }

    50% {
      background-color: #f9cb40;
      color: #36434f;
    }

    to {
      background-color: #4f6272;
      color: #bac1b8;
    }
  }

.reset{
  animation: animation-reset 4s;
  animation-timing-function: ease-in-out;
}

  @keyframes animation-reset {
    from {
    }

    25% {
      background-color: #bced09;
    }

    50% {
      background-color: #6c8900;
    }

    75% {
      background-color: #bced09;
    }

    to {
      background-color: #4f6272;
    }
  }

  .disabled{
    background-color: #36434f;
  }
